HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### 個人ファイル ###
/notes/
/private/
copilot-instructions.md

### ローカル設定や秘密情報など ###
### とりあえず入れている 後から追加する可能性があるので入れておいて損はない ###
.env
.env.*
!.env.example
*.local.properties
application-local.properties
### ログ関係 ###
*.log
logs/